@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 88 67% 95%;
    --foreground: 210 52% 22%;
    --card: 88 67% 95%;
    --card-foreground: 210 52% 22%;
    --popover: 88 67% 95%;
    --popover-foreground: 210 52% 22%;
    --primary: 181 33% 79%;
    --primary-foreground: 210 52% 22%;
    --secondary: 203 39% 44%;
    --secondary-foreground: 88 67% 95%;
    --muted: 88 60% 88%;
    --muted-foreground: 210 40% 32%;
    --accent: 356 78% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 356 78% 59%;
    --destructive-foreground: 0 0% 100%;
    --border: 181 30% 85%;
    --input: 181 30% 85%;
    --ring: 356 78% 59%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 52% 12%;
    --foreground: 88 67% 95%;
    --card: 210 52% 12%;
    --card-foreground: 88 67% 95%;
    --popover: 210 52% 12%;
    --popover-foreground: 88 67% 95%;
    --primary: 203 39% 44%;
    --primary-foreground: 88 67% 95%;
    --secondary: 181 33% 79%;
    --secondary-foreground: 210 52% 12%;
    --muted: 210 52% 18%;
    --muted-foreground: 88 60% 88%;
    --accent: 356 78% 69%;
    --accent-foreground: 210 52% 12%;
    --destructive: 356 78% 69%;
    --destructive-foreground: 0 0% 100%;
    --border: 203 39% 34%;
    --input: 203 39% 34%;
    --ring: 356 78% 69%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
